*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.inder-work-sans {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
}

.btn{
    padding: 13px 16px;
    font-size: 16px;
    color: #FFFFFF;
    font-weight: 300;
    border: none;
    background-color: #469165;
    border-radius: 5px;
    align-items: center;
}

/* main css */

#content{
    margin: 0 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFFFFF;
}

.logo-navbar{
    margin: 16px 0;
}

.nav-head{
    margin: 16px 0;
    display: flex;
    gap: 365px;
    align-items: center;
}



.nav-ber ul{
    display: flex;
    list-style: none;
    gap: 32px;
}

.nav-ber ul a{
    text-decoration: none;
}

.nav-ber ul a li{
    font-size: 16px;
    color: #000000;
}

#hero{
    background: url(../images/hero-bg.png);
}

.hero-container{
    width: 70%;
    max-width: 1140px;
    margin: 0 auto;
    padding: 115px 120px 180px 120px;
    text-align: center;
}

.hero-head h1{
    margin-top: 51px;
    width: 770px;
    font-size: 72px;
    font-weight: bold;
    color: #FFFFFF;
}

span{
    color: #30B868;
}

.hero-head p{
    font-size: 18px;
    line-height: 24px;
    width: 800px;
    margin-top: 16px;
    color: #FFFFFF;
    padding: 10px;
}

.button{
    margin-top: 30px;
    display: flex;
    gap: 16px;
    justify-content: center;
}

#does{
    background-color: #FFFFFF;
}

.dose-container{
    width: 70%;
    max-width: 1140px;
    margin: 0 auto;
    background-color: #FFFFFF;
}

.does-head{
    margin-top: 50px;
    text-align: center;
}

.does-head h2{
    font-size: 48px;
    font-weight: bold;
    color: #001931;
}

.does-head p{
    font-size: 16px;
    color: #627382;
    font-weight: 400;
    margin-top: 16px;
}

.does-box{
    display: flex;
    gap: 24px;
    background-color: #FFFFFF;
    margin-top: 44px;
}

.does-card{
    text-align: center;
    padding: 0 20px;
    margin-top: 44px;
    box-shadow: 0 0 8px 0 #00000038;
}

.does-card img{
    background-color: #F95555;
    border-radius: 50%;
    padding: 14px;
}

.does-card h3{
    font-size: 24px;
    font-weight: 600px;
    margin-top: 16px;
    color: #001931;
}

.does-card p{
    font-size: 16px;
    line-height: 20px;
    font-weight: 400px;
    color: #627382;
    margin-bottom: 70px;
}