* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.inder-work-sans {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
}

.btn {
    padding: 13px 16px;
    font-size: 16px;
    color: #FFFFFF;
    font-weight: 300;
    border: none;
    background-color: #469165;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.btn:hover {
    background-color: #F95555;
}

/* main css */

#content {
    margin: 0 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFFFFF;
}

.logo-navbar {
    margin: 16px 0;
}

.nav-head {
    margin: 16px 0;
    display: flex;
    gap: 365px;
    align-items: center;
}



.nav-ber ul {
    display: flex;
    list-style: none;
    gap: 32px;
}

.nav-ber ul a {
    text-decoration: none;
    padding: 13px 16px;
    border: none;
}

.nav-ber ul a li {
    font-size: 16px;
    color: #000000;
}

.nav-ber a:hover {
    padding: 13px 16px;
    font-size: 16px;
    color: #FFFFFF;
    font-weight: 300;
    border: none;
    background-color: #469165;
    border-radius: 5px;
    align-items: center;
}

#hero {
    background: url(../images/hero-bg.png);
}

.hero-container {
    width: 70%;
    max-width: 1140px;
    margin: 0 auto;
    padding: 115px 120px 180px 120px;
    text-align: center;
}

.hero-head h1 {
    margin-top: 51px;
    width: 770px;
    font-size: 72px;
    font-weight: bold;
    color: #FFFFFF;
}

span {
    color: #30B868;
}

.hero-head p {
    font-size: 18px;
    line-height: 24px;
    width: 800px;
    margin-top: 16px;
    color: #FFFFFF;
    padding: 10px;
}

.button {
    margin-top: 30px;
    display: flex;
    gap: 16px;
    justify-content: center;
}

#does {
    background-color: #FFFFFF;
}

.dose-container {
    width: 70%;
    max-width: 1140px;
    margin: 0 auto;
    background-color: #FFFFFF;
}

.does-head {
    margin-top: 50px;
    text-align: center;
}

.does-head h2 {
    font-size: 48px;
    font-weight: bold;
    color: #001931;
}

.does-head p {
    font-size: 16px;
    color: #627382;
    font-weight: 400;
    margin-top: 16px;
}

.does-box {
    display: flex;
    gap: 24px;
    background-color: #FFFFFF;
    margin-top: 44px;
}

.does-card {
    text-align: center;
    padding: 0 20px;
    margin-top: 44px;
    box-shadow: 0 0 8px 0 #00000038;
}

.does-card img {
    background-color: #F95555;
    border-radius: 50%;
    padding: 14px;
    margin-top: 80px;
}

.does-card h3 {
    font-size: 24px;
    font-weight: 600px;
    margin-top: 16px;
    color: #001931;
}

.does-card p {
    font-size: 16px;
    line-height: 20px;
    font-weight: 400px;
    color: #627382;
    margin-bottom: 70px;
    margin-top: 16px;
}

#solution {
    margin-top: 10px;
    background-color: #FFFFFF;
}

.solution-container {
    width: 80%;
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 60px;
    border-radius: 5px;
}

.image {
    width: 600px;
    background: transparent;
}

.list h6 {
    font-size: 16px;
    font-weight: 300;
    color: #469165;
}


.list h4 {
    font-size: 48px;
    font-weight: bold;
    color: #001931;
    width: 700px;
    margin-top: 16px;
}

.list p {
    font-size: 16px;
    font-weight: 300px;
    line-height: 20px;
    margin-top: 16px;
    width: 600px;
    color: #627382;
}

.list ul {
    margin-top: 16px;
    list-style: none;
    padding: 0;
    justify-content: center;
    align-items: center;
}

.list ul li {
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
    color: #001931;
    margin-bottom: 20px;
}

.list ul li img {
    margin-right: 6px;
    width: 18px;
    height: 18px;
}

#access {
    margin-top: 10px;
    background-color: #FFFFFF;
}

.access-container {
    width: 70%;
    max-width: 1400px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 120px;
    background-color: #62738210;
}

.contante h2 {
    padding-top: 80px;
    font-size: 40px;
    font-weight: bold;
    color: #001931;
}

.contante p {
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    color: #627382;
    margin-top: 16px;
    margin-bottom: 24px;
}

.button-con{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .access-container .contante .button-con button {
    align-items: center;
} */
#footer {
    background-color: #001931;
}

.footer-container {
    width: 70%;
    max-width: 1400px;
    margin: 0 auto;
}

.futter-icon {
    display: flex;
    justify-content: space-between;
    padding-top: 120px;
    padding-bottom: 120px;
}

.futter-icon p {
    font-size: 20px;
    font-weight: 300px;
    color: #627382;
}

.futter-icon a i {
    height: 20px;
    width: 20px;
    text-align: center;
    font-size: 18px;
    margin-right: 16px;
    margin-top: 16px;
    color: #000000;
    background-color: #FFFFFF;
    border-radius: 50%;
}


.copyright p {
    font-size: 12px;
    font-weight: 300px;
    color: #627382;
    text-align: center;
    margin: 30px 0 0 0;
    padding-bottom: 30px;
}